openapi: 3.2.0
info:
  title: Truto Unified CRM Accounts API
  description: The Truto Unified CRM API provides a single normalized interface for reading and writing CRM data across 27 CRM providers including Salesforce, HubSpot, Pipedrive, Attio, Outreach, Wealthbox, Teamleader, and more. Offers 17 unified resources covering the full CRM data model. Data is accessed in real-time via pass-through. Schema can be extended using JSONata mappings without code deploys.
  version: 1.0.0
  contact:
    url: https://truto.one/docs/api-reference/unified-crm-api
servers:
- url: https://api.truto.one/unified/crm
  description: Truto Unified CRM API
security:
- bearerAuth: []
tags:
- name: Accounts
  description: Account records representing companies or organizations
paths:
  /accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: List account (company) records from the connected CRM provider.
      tags:
      - Accounts
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IntegratedAccountId'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAccount
      summary: Create account
      description: Create a new account in the connected CRM provider.
      tags:
      - Accounts
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IntegratedAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        '201':
          description: Account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    CreateAccountRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        domain:
          type: string
        industry:
          type: string
        phone:
          type: string
        website:
          type: string
          format: uri
    Account:
      type: object
      description: A normalized account (company) record from the connected CRM provider.
      properties:
        id:
          type: string
        remoteId:
          type: string
        name:
          type: string
          description: Company name.
        domain:
          type: string
          description: Company website domain.
        industry:
          type: string
          description: Industry classification.
        employeeCount:
          type: integer
          description: Number of employees.
        annualRevenue:
          type: number
          description: Annual revenue figure.
        phone:
          type: string
        website:
          type: string
          format: uri
        ownerId:
          type: string
          description: CRM user who owns this account.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AccountListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        nextCursor:
          type: string
  parameters:
    IntegratedAccountId:
      name: integrated_account_id
      in: query
      required: true
      description: The ID of the integrated account (connected CRM provider instance) to query. Required for all Unified API requests.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication failed or token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Tenant Bearer token from the Truto dashboard.
