openapi: 3.2.0
info:
  title: Truto Unified ATS Candidates API
  description: The Truto Unified ATS API provides a single normalized interface for reading and writing applicant tracking system data across 27 ATS providers including Greenhouse, Lever, Workable, SmartRecruiters, Ashby, Teamtailor, BambooHR, Jobvite, and more. Covers the full recruiting lifecycle with 17 unified resources. All data is accessed in real-time via pass-through to the underlying ATS. Schema can be customized using JSONata mappings.
  version: 1.0.0
  contact:
    url: https://truto.one/docs/api-reference/unified-ats-api
servers:
- url: https://api.truto.one/unified/ats
  description: Truto Unified ATS API
security:
- bearerAuth: []
tags:
- name: Candidates
  description: Candidate profiles and contact information
paths:
  /candidates:
    get:
      operationId: listCandidates
      summary: List candidates
      description: List candidate profiles from the connected ATS provider.
      tags:
      - Candidates
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IntegratedAccountId'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of candidates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /candidates/{id}:
    get:
      operationId: getCandidate
      summary: Get candidate
      description: Retrieve a single candidate by ID.
      tags:
      - Candidates
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IntegratedAccountId'
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Candidate profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    CandidateListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Candidate'
        nextCursor:
          type: string
    Candidate:
      type: object
      description: A normalized candidate profile from the connected ATS provider.
      properties:
        id:
          type: string
          description: Unified candidate identifier.
        remoteId:
          type: string
          description: Candidate identifier in the source ATS.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
          description: Primary email address.
        phone:
          type: string
          description: Phone number.
        location:
          type: string
          description: Candidate location.
        source:
          type: string
          description: How the candidate was sourced (e.g., LinkedIn, referral, job board).
        tags:
          type: array
          items:
            type: string
          description: Tags or labels applied to the candidate.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  parameters:
    IntegratedAccountId:
      name: integrated_account_id
      in: query
      required: true
      description: The ID of the integrated account (connected ATS provider instance) to query. Required for all Unified API requests.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication failed or token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Tenant Bearer token from the Truto dashboard.
