openapi: 3.2.0
info:
  title: Truto Unified HRIS Companies API
  description: The Truto Unified HRIS API provides a single normalized interface for reading and writing HR data across 41 HRIS providers including BambooHR, Workday, Rippling, Gusto, HiBob, Personio, Oracle Fusion Cloud HCM, and more. All data is accessed in real-time with no caching. Includes 20 unified resources. Schema can be extended using JSONata mappings.
  version: 1.0.0
  contact:
    url: https://truto.one/docs/api-reference/unified-hris-api
servers:
- url: https://api.truto.one/unified/hris
  description: Truto Unified HRIS API
security:
- bearerAuth: []
tags:
- name: Companies
  description: Company and organization records
paths:
  /companies:
    get:
      operationId: listCompanies
      summary: List companies
      description: List company records from the connected HRIS provider.
      tags:
      - Companies
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IntegratedAccountId'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of companies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    CompanyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        nextCursor:
          type: string
    Company:
      type: object
      description: A company record from the connected HRIS provider.
      properties:
        id:
          type: string
        remoteId:
          type: string
        name:
          type: string
          description: Company name.
        legalName:
          type: string
          description: Legal business name.
        taxId:
          type: string
          description: Tax identification number.
        primaryPhone:
          type: string
        industry:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  parameters:
    IntegratedAccountId:
      name: integrated_account_id
      in: query
      required: true
      description: The ID of the integrated account (connected HRIS provider instance) to query. Required for all Unified API requests.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication failed or token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Tenant Bearer token from the Truto dashboard.
