openapi: 3.2.0
info:
  title: Truto Unified HRIS Employments API
  description: The Truto Unified HRIS API provides a single normalized interface for reading and writing HR data across 41 HRIS providers including BambooHR, Workday, Rippling, Gusto, HiBob, Personio, Oracle Fusion Cloud HCM, and more. All data is accessed in real-time with no caching. Includes 20 unified resources. Schema can be extended using JSONata mappings.
  version: 1.0.0
  contact:
    url: https://truto.one/docs/api-reference/unified-hris-api
servers:
- url: https://api.truto.one/unified/hris
  description: Truto Unified HRIS API
security:
- bearerAuth: []
tags:
- name: Employments
  description: Employment terms, positions, and job history
paths:
  /employments:
    get:
      operationId: listEmployments
      summary: List employments
      description: List employment records including job titles, pay rates, pay periods, and employment type from the connected HRIS provider.
      tags:
      - Employments
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IntegratedAccountId'
      - name: employee_id
        in: query
        description: Filter employments by employee ID.
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        description: Cursor for pagination.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of employment records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    EmploymentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Employment'
        nextCursor:
          type: string
    Employment:
      type: object
      description: An employment record representing a job position and compensation details.
      properties:
        id:
          type: string
          description: Unified employment identifier.
        remoteId:
          type: string
          description: Employment identifier in the source system.
        employeeId:
          type: string
          description: Identifier of the associated employee.
        jobTitle:
          type: string
          description: Job title for this employment.
        payRate:
          type: number
          description: Pay rate amount.
        payPeriod:
          type: string
          enum:
          - hourly
          - weekly
          - biweekly
          - semimonthly
          - monthly
          - annual
          description: Pay period frequency.
        payCurrency:
          type: string
          description: ISO 4217 currency code for pay rate.
        employmentType:
          type: string
          enum:
          - full_time
          - part_time
          - contractor
          - intern
          - other
          description: Employment type.
        effectiveDate:
          type: string
          format: date
          description: Date this employment record took effect.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  parameters:
    IntegratedAccountId:
      name: integrated_account_id
      in: query
      required: true
      description: The ID of the integrated account (connected HRIS provider instance) to query. Required for all Unified API requests.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication failed or token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Tenant Bearer token from the Truto dashboard.
