openapi: 3.0.3
info:
  title: Truto Admin Accounts Offers API
  description: The Truto Admin API enables programmatic management of the Truto integration platform, including managing integrated accounts, generating link tokens for customer OAuth flows, running post-install actions, and provisioning MCP servers for AI agent access.
  version: 1.0.0
  contact:
    url: https://truto.one/docs/api-reference/admin
servers:
- url: https://api.truto.one
  description: Truto API
security:
- bearerAuth: []
tags:
- name: Offers
  description: Job offers extended to candidates
paths:
  /offers:
    get:
      operationId: listOffers
      summary: List offers
      description: List job offers extended to candidates from the connected ATS provider.
      tags:
      - Offers
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IntegratedAccountId'
      - name: application_id
        in: query
        description: Filter offers by application ID.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Filter offers by status.
        required: false
        schema:
          type: string
          enum:
          - draft
          - sent
          - accepted
          - declined
          - rescinded
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of offers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Offer:
      type: object
      description: A job offer extended to a candidate.
      properties:
        id:
          type: string
        remoteId:
          type: string
        applicationId:
          type: string
          description: Identifier of the associated application.
        status:
          type: string
          enum:
          - draft
          - sent
          - accepted
          - declined
          - rescinded
        startDate:
          type: string
          format: date
          description: Proposed start date.
        closedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    OfferListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Offer'
        nextCursor:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Authentication failed or token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    IntegratedAccountId:
      name: integrated_account_id
      in: query
      required: true
      description: The ID of the integrated account (connected ATS provider instance) to query. Required for all Unified API requests.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Tenant Bearer token from the Truto dashboard.
