openapi: 3.2.0
info:
  title: Truto Unified ATS Applications API
  description: The Truto Unified ATS API provides a single normalized interface for reading and writing applicant tracking system data across 27 ATS providers including Greenhouse, Lever, Workable, SmartRecruiters, Ashby, Teamtailor, BambooHR, Jobvite, and more. Covers the full recruiting lifecycle with 17 unified resources. All data is accessed in real-time via pass-through to the underlying ATS. Schema can be customized using JSONata mappings.
  version: 1.0.0
  contact:
    url: https://truto.one/docs/api-reference/unified-ats-api
servers:
- url: https://api.truto.one/unified/ats
  description: Truto Unified ATS API
security:
- bearerAuth: []
tags:
- name: Applications
  description: Job applications linking candidates to jobs
paths:
  /applications:
    get:
      operationId: listApplications
      summary: List applications
      description: List job applications from the connected ATS provider. Each application links a candidate to a specific job and tracks their progress through interview stages.
      tags:
      - Applications
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IntegratedAccountId'
      - name: job_id
        in: query
        description: Filter applications by job ID.
        required: false
        schema:
          type: string
      - name: candidate_id
        in: query
        description: Filter applications by candidate ID.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Filter by application status.
        required: false
        schema:
          type: string
          enum:
          - active
          - rejected
          - hired
          - withdrawn
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of applications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Application:
      type: object
      description: A job application linking a candidate to a job with current stage information.
      properties:
        id:
          type: string
          description: Unified application identifier.
        remoteId:
          type: string
        candidateId:
          type: string
          description: Identifier of the applying candidate.
        jobId:
          type: string
          description: Identifier of the applied-to job.
        status:
          type: string
          enum:
          - active
          - rejected
          - hired
          - withdrawn
          description: Current application status.
        currentStageId:
          type: string
          description: Identifier of the current interview stage.
        rejectReasonId:
          type: string
          description: Reason for rejection, if rejected.
        source:
          type: string
          description: Application source channel.
        appliedAt:
          type: string
          format: date-time
          description: Timestamp when the application was submitted.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    ApplicationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        nextCursor:
          type: string
  parameters:
    IntegratedAccountId:
      name: integrated_account_id
      in: query
      required: true
      description: The ID of the integrated account (connected ATS provider instance) to query. Required for all Unified API requests.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication failed or token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Tenant Bearer token from the Truto dashboard.
